spring:
  application:
    name: lavaradio
  grpc:
    server:
      address: 0.0.0.0
      port: ${KOTLIN_GRPC_PORT:9090}
  graphql:
    websocket:
      path: /graphql
    cors:
      allowed-origins: "*"
      allowed-methods: GET,POST
      max-age: 1800s
  security:
    oauth2:
      client:
        registration:
          spotify:
            client-id: ""
            client-secret: ""
            authorization-grant-type: authorization_code
            redirect-uri: ""
            client-name: Spotify
        provider:
          spotify:
            authorization-uri: https://accounts.spotify.com/authorize
            token-uri: https://accounts.spotify.com/api/token
            user-info-uri: https://api.spotify.com/v1/me
            user-name-attribute: display_name

server:
  address: 0.0.0.0
  port: ${KOTLIN_SERVER_PORT:8080}

lavaplayer:
  providers:
    - "ytsearch:\"%ISRC%\""
    - "dzsearch:%QUERY%"
    - "dzisrc:%ISRC%"
    - "ytsearch:%QUERY%"
  sources:
    spotify:
      clientId: ""
      clientSecret: ""
      countryCode: ""
      spDc: ""
    deezer:
      masterDecryptionKey: ""
      arl: ""

webrtcgrpc:
 host: ${WEBRTC_GRPC_HOST:webrtc-bridge}
 port: ${WEBRTC_GRPC_PORT:50051}